*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #f5f5f5;
}
.container{
    width: 1368px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* star datmon */
.content_dau{
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 20px;
}
.header_diachi{
    display: flex;
    color: #605757;
}
/* header .image_sp{
    margin: 20px;
} */
.image_sp_con{
    position: relative;
    right: 555px;
    top: 135px;
    border: 3px solid #ffffff;
    border-radius: 10px;
}
.header_time{
    display: flex;

}
.header_tel{
    display: flex;
    color: #605757;
}
.header_diachi p{
    margin-top: 15px;
    margin-left: 10px;
}
.header_time span{
    margin-left: 10px;
    color: red;
}
.header_tel p{
    margin-top: 15px;
    margin-left: 10px;
}
.thongtin{
    line-height: 10px;
    margin-top: 30px;
    margin-left: -80px;
}
.thongtin .mau{
    color: #cccccc;
}
.thongtin h1{
    font-weight: 400;
    font-size: 30px;
}
.don_hang button{
    border: none;
    margin-top: 35px;
    padding: 0 15px;
    border-radius: 5px;
}
.don_hang svg,
.don_hang p{
    margin-top: 15px;
    margin-left: 5px;
}
.don_hang button{
    display: flex;
}
#modal_container{
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
}
#modal_container.show{
    opacity: 1;
    pointer-events: all;
}
#modal_sp{
    width: 1000px;
    height: 600px;
    display: flex;
    /* border: 1px solid red; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
    bottom: 0;
    transition: all .25s ease-in-out;
}
#modal_container.show #modal_sp{
    bottom: 50px;
}
.box_left{
    width: 450px;
    max-height: 600px;
    position: relative;
}
.box_left img{
    max-width: 450px;
    min-width: 450px;
    max-height: 600px;
}
.text_price_modal {
    display: block;
    max-width: 450px;
    min-height: 167px;
    /* background-image: linear-gradient(to bottom, rgba(88,37,123,0),   rgba(0,0,0,.9)); */
    position: absolute;
    background: linear-gradient(180deg,transparent,rgba(0,0,0,.9));
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 25px 10px;
}
.text_price_modal p
{
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    line-height: 36px;
    padding: 0 100px 0 0 ;
}
.text_price_modal span{
    color: #ffffff;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
}
.box_right{
    width: 600px;
    height: 600px;
    background-color: #ffffff  ;   
}
.box_right_top{
    width: 600px;
    height: 535px;
    padding: 20px;
}
.chu_thich{
    position: relative;
    display: flex;
    background-color: #f5f5f5;
    padding: 15px 15px 15px 10px;
    border-radius: 12px;
}
.chu_thich img{
    position: absolute;
    width: 23px;
    top: 15px;
}
.chu_thich .ghi_chu {
    width: 100%;
    min-height: 15px;
    max-height: 100px;
    border: none;
    outline: 0;
    background-color: #f5f5f5;
    margin-left: 25px;
    font-size: 14px;
    resize: none;
    box-sizing: border-box;
}
#btn-close{
    position: relative;
    top: -90px;
    left: 553px;
    font-size: 20px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 20px;
}
.circle {
    position: relative;
    background: #EEEEEE;
    clip-path: circle(50%);
    height: 2.5em;
    width:2.5em;
    margin-top: 14px;
    cursor: pointer;
}
.box_right_bottom{
    display: flex;
    height: 65px;
    /* padding:  10px; */
    /* background-color: aquamarine; */
    padding: 0 15px;
}
.box_right_bottom .tru{
    position: absolute;
    top: 553px;
    left: 469px;
    cursor: pointer;
}
.box_right_bottom .cong{
    position: absolute;
    top: 553px;
    left: 562px;
    cursor: pointer;
}
.box_right_bottom button{
    margin-left: 255px;
    width: 169px;
    height: 40px;
    margin-top: 13px;
    margin-bottom: 13px;
    color: #ffffff;
    background-color: #f89523;
    border-radius: 8px;
    border: none;
}
.box_right_bottom input{
    width: 25px;
    height: 38px;
    margin: 14px;
    border: none;
    outline: none;
    
}
/* star datmon */

/* star content */
.content{
    display: flex;
    margin-top: 30px;
}
#san_pham_con{
    display: flex;
}
.thuc_don{
    flex-basis: 20%;
}
.san_pham{
    flex-basis: 48%;
    background-color: #f5f5f5;
    padding: 10px 20px;
    border-radius: 10px;
}
.gio_hang{
    flex-basis: 30%;
}
.search_sp{
    display: flex;
    width: 648px;
    height: 34px;
    border: 1px solid rgb(213, 212, 212);
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
}
.icon_sp{
    margin-top: 10px;
    color: gray;
    font-size: 14px;
    margin-left: 20px;
}
.search_sp input{
    width: 600px;
    border: none;
    outline: none;
    margin-left: 10px;

}
#san_pham_ct{
    margin: 20px 10px;
}
#san_pham_con{
    margin: 20px 10px;
}
.text_price{
    width: 500px;
    margin-left:15px ;
}
.add{
    color: #f89523;
    margin-top: 38px;
}
.text_price p{
    margin-top: 20px;
    color: #f89523;
    font-size: 15px;
    font-weight: 500;
}
/* end content */


/* star thuc don */
.thuc_don{
    background-color: #f5f5f5;
    padding: 10px 0;
    margin-right: 15px;
    border-radius: 10px;
}
.text_thucdon{
    margin-left: 20px;
    font-weight: 500;
    font-size: 20px;
}
.thuc_don ul{
    margin-right:15px ;
    margin-left: -5px;
}
.thuc_don ul li{
    display: block;
    list-style: none;
    /* background-color: #cccccc; */
    padding: 5px 5px;
    margin: 15px 0px;
    border-radius: 10px;
    transition: all .25s ease-in;
}
.thuc_don ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.thuc_don ul li:hover{
    background-color: #e6e6e6; 

}
/* end thuc don */


/* star gio_hang */
.gio_hang{
    height: 280px;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-left: 15px;
    padding: 30px 0;
}
.text_giohang{
    color: #8190A3;
    margin-top: 20px;
}
/* end gio_hang */


/* star lien he */
.ban_do{
    width: 100%;
    height: 450px;
}
@font-face {
    font-family: font_rukola;
    src: url(../font/iCiel\ Rukola.otf);
}
@font-face {
    font-family: font_roboto;
    src: url(../font/static/RobotoSlab-Regular.ttf);
}


.thongtin_lienhe{
    display: flex;
    padding: 80px 100px;
    margin-left: 40px;
}
.lien_he_con{
    width: 400px;
    padding: 0 30px;
}
.lien_he_con h2{
    line-height: 60px;
    font-size: 35px;
    color: #BF1B1B;
    font-family: font_rukola;
}
.lien_he_con p{
    font-size: 20px;
    font-family: font_roboto;
    line-height: 33px;
}
.link{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 20px;
    top: 350px;
}
.link a:hover{
    cursor: pointer;
}
.icon_mau{
    font-size: 20px;
    padding: 6px 0;
    color: #FF5D00;
}
.icon_mau2{
    position: relative;
    font-size: 20px;
    color: #FF5D00;
    left: 1px;
    top: 5px;
}
/* end lien he */

/* star qtri admin */
.container_admin{
    width: 100%;
    height: 722px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content_admin{
    display: flex;
    height: 100%;
}
.content_left{
    flex-basis: 17%;
    background-color: #f89523;
}
.thongtin_user{
    display: flex;
    flex-direction: column;
    line-height: 25px;
}
.thongtin_user img{
    margin: 30px 32% 10px 32%;
}
.thongtin_user_con{
    text-align: center;
}
/* .thong_tin_user_con2{
    line-height: 35px;
} */
.thongtin_user a{
    text-decoration: none;
    color: #ffffff;
    /* margin-left: 20px; */
}
.gach_duoi{
    padding-top: 15px;
    border-bottom: 2px solid #E09709;
}
.thong_tin_user_con2{
    width: 100%;
    margin-left: 35px;
    margin-top: 10px;
}
.thong_tin_user_con2 a{
    padding: 5px 10px;
    background-color: #BF1B1B;
    font-size: 10px;
}
.dangxuat{
    margin-left: 60px;
}
.fa-solid{
    position: relative;
    right: 10px;
}
nav{
    margin-top: 10px;
}
nav ul li{
    display: block;
    /* padding: 10px 20px; */
    /* margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px; */
    width: 200px;
    padding: 10px 20px;
    margin-left: 30px;
    border-radius: 10px;

}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    line-height: 30px;
    /* padding: 10px 40px; */
    
    border-radius: 5px;
}
nav ul li:hover{
    background-color: #ED8605;
}
/* nav ul li:hover{
    background-color: #BF1B1B;
} */
.content_right{
    flex-basis: 83%;
    background-color: #eaeaea;
}
.box_tren{
    background-color: #ffffff;
    padding: 15px 20px;
    margin: 20px 20px;
    border-radius: 10px;
}
.box_duoi{
    height: 600px;
    background-color: #ffffff;
    margin: 20px 20px;
    padding: 15px 20px;
    border-radius: 10px;
}
.gach_duoiadmin{
    border-bottom: solid 2px rgb(236, 193, 6);
}
.box_duoi h5{
    font-size: 20px;
    margin: 10px 5px;
  
}
.box_duoi form{
    margin-top: 30px;
}
/* .input_class{
    width: 100%;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid blue;
} */
.box_duoi form label{
    font-weight: 600;
}
.input_class[type=text]{
    width: 100%;  
    padding: 12px 20px;  
    margin: 8px 0;  
    box-sizing: border-box;  
    border: 2px solid #e0ad06;  
    border-radius: 4px;
}
.chucnang input{
    padding: 5px 10px;
    border: none;
    background-color: #e0ad06;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 15px;
}
.chucnang input:hover{
    padding: 5px 10px;
    border: none;
    background-color: #484848;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}

.form_con_box{
    display: flex;
    width: 100%;
}
.form_con {
    flex-basis: 32.3333%;
    margin: 0 10px;
}
.box_select{
    width: 100%;  
    padding: 12px 20px;  
    margin: 8px 0;  
    box-sizing: border-box;  
    border: 2px solid #e0ad06;  
    border-radius: 4px;
}
input[type=file]{
    padding: 10px 20px;
}
.box_textarea{
    width: 100%;  
    padding: 5px ;  
    margin: 8px 0;  
    box-sizing: border-box;  
    border: 2px solid #e0ad06;  
    border-radius: 4px;
}

/* css table */
/* .table{
    width: 100%;
    border: 1px solid orange;
}
.table tr th{
    padding: 5px;
    border-bottom: 1px solid orange;
} */

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    /* max-width: 800px; */
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  table * {
    position: relative;
  }
  table td,
  table th {
    padding-left: 15px;
  }
  table thead tr {
    height: 50px;
    background: #F7A605;
    font-size: 16px;
  }
  table tbody tr {
    background-color: #f5f5f5;
    height: 48px;
    border-bottom: 1px solid #e3f1d5;
  }
  table tbody tr:last-child {
    border: 0;
  }
  table td,
  table th {
    text-align: left;
  }
  table td.l,
  table th.l {
    text-align: right;
  }
  table td.c,
  table th.c {
    text-align: center;
  }
  table td.r,
  table th.r {
    text-align: center;
  }
  


/* end qtri admin */

