*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: huy;
  src: url(../font/iCiel\ Rukola.otf);
}
/* Slideshow container */

.slideshow-container {
    max-width: 1162px;
    min-height: 843px;
    position: relative;
    margin: auto;
    
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  /* .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  } */
  
  /* Number text (1/3 etc) */
  /* .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  } */
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 7px;
    width: 7px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .dots{
    margin-bottom: 20px;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    
  }
  
     /* @keyframes fade {
    from {opacity: .4}
    to {opacity: 1} 
  }    */

  .tieude1{
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    

  }
  .danhmuc_monan{
    
    margin-top: 20px;
    
    
  }
  .danhmuc_monan h2{
    
    padding-top:20px ;
    color: #B82026;
    font-family: huy;
    font-size: 40px;
    letter-spacing: 2.1px;
    text-align: center;
  }
  
  .mon_khai_vi{
    margin-top: 30px;
     padding-top: 50px;
     padding-bottom: 30px; 
    
    background-color:#f4f4f4;
    
  }
  .mons{
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px; 
  }
  .mon1{
    display: flex;
    background-color: white;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px;
    
  }
  .td_mon{
    
    padding: 10px 0px;
     width: 300px;
    border-top-left-radius: 20px;
    border-bottom-right-radius:20px ;
     margin-bottom: 50px;
     background-color: orangered;
     margin-left: 39%; 
  }
  .td_mon h2{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
    
  }
  .td_mon a{
    text-decoration: none;
    color: white;
  }
  .mota1{
    margin-top: 20px;
    padding-left: 10px;
    padding-bottom: 5px;
  }
  .mota1 h4 a{
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  .gia{
    color: rgb(247, 7, 7);
  }
  .btn{
    padding: 8px;
    background-color: rgb(219, 3, 3);
    border: 1px solid rgb(207, 207, 207);
    color: aliceblue;
    border-radius: 5px;
  }
  .btn:hover{
    background-color: rgb(128, 35, 35);
    color: #eee6e6;
  }
  .mota1 .a{
    padding-bottom: 8px;
  }
  .mota1 a:hover{
    color: rgb(206, 7, 7);
  }
  .mon_ga{
    /* margin-top: 30px; */
     padding-top: 50px;
     padding-bottom: 60px; 
     background-image: url(../image/IMG_2816.jpg);
  }
  .mon2{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px; 
  }
  .monga_2{
    background-color: rgb(241, 240, 240);
    padding: 3px;
    text-align: center;
    

  }
  .td2{
    padding-top: 10px;
  }
  .td2 a{
    
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  .td2 a:hover{
    color: rgb(206, 7, 7);
  }
  .monga_2 .b{
    padding-bottom: 5px;
  }
  .td_mon1{
    
    padding: 10px;
     width: 350px;
    border-top-left-radius: 20px;
    border-bottom-right-radius:20px ;
     margin-bottom: 50px;
     background-color: orangered;
     margin-left: 36%; 
  }
  .td_mon1 h2{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
    
  }
  .td_mon1 a{
    text-decoration: none;
    color: white;
  }
  .mon_rau{
    background-color: #ececec;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .mon3{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px; 
  }
  .monga_3{
    background-color:white;
    
    text-align: center;

  }
  .btn1{
    margin-bottom: 5px;
  }
  .monga_3 .b{
    padding-bottom: 5px;
  }
  .bia_nuocngot{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f8f5f5;
  }
  .douong{
    display: flex;
    justify-content: center;
     
    
  }
  .bia{
     margin-left: 50px;
     margin-right: 10px; 
  }
  .nuoc{
    display: flex;
    justify-content: center;
   
    margin-right: 50px;
    
  }
  
  .nuocngot{
    margin: 0 10px;
    background-color: #f4f4f4;
    width: 248px;
    height: auto;
    text-align: center;
    margin-bottom: 24px;
  }
  .nuocngot .b{
    padding-bottom: 3px;
  }