<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../view/public/css/datban.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>header</h1>
        </div>
        <div class="boxs">
            <div class="box">
                <div class="box1">
                  <div class="datban">
                   <h2 class="td1 td">Đặt Bàn</h2>
                   <p class="text1">Quý khách vui lòng gọi vào số Hotline 0335.61.5454 hoặc điền đầy đủ thông tin vào biểu mẫu dưới đây. ZeeZee Chicken House sẽ liên hệ lại với Quý khách để xác nhận trong vòng 2 giờ làm việc.
                      <br> Lưu ý: Đây là biểu mẫu đặt bàn, không phải là xác nhận đã đặt được bàn.</p>
                      <form action="">
                       <div class="inputs">
                           <div class="thongtin1">
                               <label for="">Họ và tên</label>
                               <br>
                               <input type="text" placeholder="Tên điện thoại Quý khách" class="input1">
                           </div>
                           <div class="thongtin1">
                               <label for="">Số điện thoại</label>
                               <br>
                               <input type="text" placeholder="Số điện thoại Quý khách" class="input1">
                           </div>
                          </div>
                          <div class="inputss">
                           <div class="thongtin2">
                               <label for="">Số người</label>
                               <br>
                               <input type="number" placeholder="Tối đa 6 người" class="input2">
                           </div>
                           <div class="thongtin2">
                               <label for="">Ngày đặt</label>
                               <br>
                               <input type="date" placeholder="ngày/tháng/năm" class="input2">
                           </div>
                           <div class="thongtin2">
                               <label for="">Giờ đặt</label>
                               <br>
                               <input type="datetime" placeholder="Giờ đặt bàn" class="input2">
                           </div>
                          </div>
                          <div class="motas">
                           <label>Lưu ý cho nhà hàng</label> <br>
                            <textarea name="" id="mota_1" cols="108" rows="10" style="width: 708px; height: 143px;" placeholder="Ví dụ: Cần thêm ghế trẻ em..."></textarea>
                          </div>
                          <div class="btn-2">
                           <button >XÁC NHẬN</button>
                          </div>
                      </form>
                  </div>
                  <div class="sukien_uudai">
                   <h2 class="td2 td">Sự kiện & Khuyến mãi</h2>
                  <div class="sukien">
                   <div class="sukien1">
                       <img src="../view/public/image/uudai2.jpg" alt="" width="354.39px" height="175px" class="anh_uudai">
                       <h4><a href="">[Minigame] Đóng đinh rinh quà đỉnh, số lượng có hạn</a></h4>
                </div>
                <div class="sukien1">
                    <img src="../view/public/image/uudai1 (1).jpg" alt=""width="354.39px" height="175px" class="anh_uudai">
                    <h4><a href="">[Soft Opening] Zee Zee “xin chào” - Ưu đãi 20% toàn bộ Menu</a></h4>
             </div>
                  </div>
                  </div>
                  
                </div>
                <!-- div box -->
              
           </div>
          
        </div>
        
        
        <!-- div container -->
        
        <footer></footer>
    </div>
</body>
</html>